<nav class="navbar  navbar-light bg-light">
    <div class="container d-flex  justify-content-between align-items-center ">
        <div class="brand">
            <a class="navbar-brand" href="https://mcdonalds.pl/"><i class="fas fa-bars text-warning"></i>
                McDonald's</a>
        </div>
        <div class="brand text-center">
            <a class="navbar-brand " href="https://mcdonalds.pl/">
                <img src="https://cdn.mcdonalds.pl/public/build/images/header/logo3.7fdc3b27b85731583884817d56926883.svg"
                    alt="Logo McDonald" width="15%">
            </a>
        </div>
        <div class="social">
            <a class="btn" href="https://www.facebook.com/McDonaldsPolska?fref=ts">
                <i class="fab fa-facebook"></i>
            </a>
            <a class="btn" href="https://www.instagram.com/mamsmakanamaka/">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="btn" href="https://www.youtube.com/user/McDonaldsPoland">
                <i class="fab fa-youtube"></i>
            </a>
            <a class="btn" href="https://pl.linkedin.com/company/mcdonald%27s-polska">
                <i class="fab fa-invision"></i>
            </a>
        </div>
    </div>
</nav>